*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  background-image: url('../images/loginbg.png');
  padding: 0 10px 10px 10px;
}
input {
  outline: none;
}
.header-container{
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.header-container>img{
  margin: none;
  width: 90%;
}
#login-header{
  font-weight: 400;
  font-size: 36px;
  text-decoration: none;
}
#login-wrapper{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
}

#login-wrapper>label{
  margin-top: 2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
}

#login-wrapper>input[type='text'], #login-wrapper>input[type='password']{
  height: 2.5rem;
  border: none;
  border-bottom: solid black 1px;
  font-size: 16px;
  background: transparent;
  padding: 10px;
}

#login-wrapper>button{
  margin: 2rem 0 2rem 0;
  height: 46px;
  border-radius: 20px;
  background-color: #27A8DA;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}